
body
{
	height: 100vh;
	width: 100%;
}
.allnews
{
	display: flex;
	padding:  59px 0vw 0px 0vw;
	flex-wrap: wrap;
	justify-content: center;
	min-height:  100vh;
	position: relative;
}
section
{
	display: flex;
	width: 100%;
	min-height: 70px;
	padding: 0 5vw;	
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.news 
{
	--bg:  #A3B4CC;
	--txt:  #333;
	--shadow:  black;
	flex: 1 0 300px;
	color: #333;
	margin: 20px;
	background-color: var(--bg);
	cursor: pointer;
	outline: none;
	border: none;
	transition:  0.1s;
	height: 50vh;
	overflow: hidden;
}

	


.card
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50vh;
}
.card > h2
{
	position: absolute;
	z-index: 2;
	background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
	color: #fff;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	text-overflow: ellipsis;
	text-align: left;
	padding: 10px;
}
.card > img
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	object-fit: cover;
	height: 50vh;
	filter: brightness(0.7);
	transition: 0.2s;
	z-index: -3;
}
.card > img:hover
{
	filter: brightness(1.0);
}
.news:hover, 
.news:focus
{
	transform:  scale(1.02);
}

.votes
{
	z-index: 333;
	background-color: white;}
.votes span
{

}

.positive-bar
{
	border: none;
	border-left: 5px solid yellow;
}
.negative-bar
{
	border: none;
	border-left: 5px solid red;
}

.fullscreen
{
	position: fixed;
	top: 70px;
	margin: auto;
	border: 2px solid;
	width: 500px;
	height: 80vh;
	overflow: auto;
	padding: 5px;
	z-index: 999;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: none;
}

.fullscreen > img
{
	width: 100%;
	object-fit: cover;

}
.fullscreen span
{
	flex: 1 1 100%;
	color:  #444;
	text-align: left;
	display: block;
	margin:  20px 0px 10px 0px;
	font-weight: 444;

}
.fullscreen p
{
	flex: 1 1 100%;
	font-size: 1.3em;
	text-align: justify;
	font-weight: 555;
}
.fullscreen a
{

	font-size: 1.2em;
	width: 200px;
	height: 40px;
	text-decoration: none;
	border: 2px solid red;
	background-color: red;
	color: black;
	border-radius: 999px;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.filter-btn
{
	position: fixed;
	bottom: 30px;
	right: 6vw;
	background-color: #f7ce38;
	box-shadow: 0 0 0px 20px var(--body-background);
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;
	height: 60px;
	width: 60px;
	padding: 15px;
	z-index: 999;
}
.filter-btn img
{
	width: 100%;
	filter: invert(10%);
}
.filter-box
{
	display:  none;
	position: fixed;
	bottom: 30px;
	right: 6vw;
	min-height:  400px;
	width: 200px;
	background-color: var(--body-background);
	z-index: 999;
	border-radius: 5px 5px 50px 5px;
	box-shadow: 0 0 0 20px var(--body-background);
	padding: 10px 5vw;
	color: #fff;
}
.filter-box button
{
	position: absolute;
	top:  2px;
	right: 10px;
	font-size: 1.5em;
	background: transparent;
	color:  #f7ce38;
	font-weight: 999;
	outline: none;
	border: none;
	cursor: pointer;
}
.filter-btn:active
{
	transform:  scale(1.02);
}
.expand
{
	height: 200px;
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.expand a
{
	flex:  0 1 95%;
	text-decoration: none;
	color: #fff;
	font-weight: 666;
	font-size: 1.2em;
	padding-left: 10px;
	padding-top: 5px;
}
.expand span
{
	flex:  0 1 5%;
}
.expand label
{	
	flex: 1 1 94%;
	font-size: 1.1em;
	font-weight: 555;
	padding-left: 10px;
}
.expand input
{
	flex: 1 1 5%;
	height: 1.5em;
}

.filter-box a:hover,
.filter-box a:focus
{
	border: 1px solid #fff;
}