
body
{
	height: 100vh;
	width: 100%;
}
.allnews
{
	display: flex;
	padding:  59px 0vw 0vw 0vw;
	flex-wrap: wrap;
	justify-content: center;
	min-height:  100vh;
	position: relative;
}
section
{
	display: flex;
	width: 100%;
	min-height: 70px;
	padding: 0 5vw;	
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.news 
{
	--bg:  #A3B4CC;
	--txt:  #333;
	--shadow:  black;
	flex: 1 0 300px;
	color: #333;
	margin: 20px;
	background-color: var(--bg);
	cursor: pointer;
	outline: none;
	border: none;
	transition:  0.1s;
}

.card
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 250px;
}
.news h2
{
	position: absolute;
	z-index: 2;
	background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
	color: #fff;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	text-overflow: ellipsis;
	text-align: left;
	padding: 10px;
}
.news img
{
	position: absolute;
	top: 0px;
	left: 0px;
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: brightness(0.7);
	z-index: 1;
}
.news:hover,
.news:active, 
.news:focus + .news img
{
	transform:  scale(1.02);
	filter: brightness(1);
}
.news p,a,.votes, i
{
	display: none;
}
.card > span
{
	display: none;
}


.hide
{
	display: none;
}

.positive-bar
{
	border: none;
	border-left: 5px solid yellow;
}
.negative-bar
{
	border: none;
	border-left: 5px solid red;
}


.fullscreen
{	
	background-color: var(--bg);
	position: fixed;
	color: black;
	top:  60px;
	height:  80vh;
	width:  90vw;
	z-index: 999;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid;
	border-radius: 10px;
	cursor: unset;
}


.fullscreen:focus,
.fullscreen:hover
{
	transform: scale(1.0);
}

.fullscreen .card
{
	width: 100%;
	height:  80vh;
	border:  none;
	padding: 0px 10px 0px 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.fullscreen h2
{
	position: relative;
	background: transparent;
	color: #111;
	padding: 10px 0px;
	flex: 1 1 100%;
}
.fullscreen .votes
{
	flex: 1 1 100%;
	display: flex;
	font-size: 20px;
	font-weight: 555;
	word-spacing: 5px;
	position: relative;
}
.fullscreen img
{
	flex: 1 1 100%;
	position: relative;
}
.fullscreen p::first-letter
{
	font-size: 30px;
}
.fullscreen p
{
	display: flex;
	flex: 1 1 100%;
	text-align: left;
	font-size: 1.5em;
	font-weight: 333;
	padding: 10px 0px 20px 0px;
}

.additiondetails
{
	flex: 1 1 100%;
}
.lowcontrast
{
	display: inline;
	color: rbga(0,0,0,0.3);
	font-weight: 111;
}
.highcontrast
{
	display: inline;
	font-weight: 555;
}

.fullscreen a
{
	display: block;
	text-decoration: none;
	background-color: #f7ce38;
	border: 1px solid black;
	color:  black;
	text-align: center;
	border-radius: 999px;
	padding: 5px 20px;
	margin: 10px;
	transform: translateY(-40px);
}

.votes i
{
	padding: 0px 5px 5px 5px;
	text-shadow: 0 0 2px black;
	transition: 0.2s;
}
.votes i:hover
{
	transform: scale(1.1);
	text-shadow: 0 0 3px black;
}
.votes i:active
{
	transform: scale(0.5);
}
.votes > .negative-vote-btn > i
{
	font-size: 20px;
	color: black;
}

.votes > .positive-vote-btn > i
{
	font-size: 20px;
	color: #f7ce38;
}
.fullscreen > .card > i
{
	display: inline;
	font-size: 25px;
	color: black;
}
.fullscreen > .card > span
{
	display: block;
	width: 100%;
	position: sticky;
	top:  0px;
	font-size: 1.5em;	
	z-index: 999;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: right;
	height: 30px;
	text-shadow: 0 0 10px 20px black;
}



.filter-btn
{
	position: fixed;
	bottom: 30px;
	right: 6vw;
	background-color: #f7ce38;
	box-shadow: 0 0 0px 20px var(--body-background);
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;
	height: 60px;
	width: 60px;
	padding: 15px;
	z-index: 999;
}
.filter-btn img
{
	width: 100%;
	filter: invert(10%);
}
.filter-box
{
	display:  none;
	position: fixed;
	top: 10vh;
	right: 6vw;
	min-height:  85vh;
	width: 200px;
	background-color: var(--body-background);
	z-index: 999;
	border-radius: 5px 5px 50px 5px;
	box-shadow: 0 0 0 20px var(--body-background);
	padding: 10px 10px;
	color: #fff;
	overflow: auto;
}
.filter-box button
{
	position: absolute;
	top:  -5px;
	right: 0px;
	font-size: 1.5em;
	background: transparent;
	color:  #f7ce38;
	font-weight: 999;
	outline: none;
	border: none;
	cursor: pointer;
	z-index: 999;
}

.filter-btn:active
{
	transform:  scale(1.02);
}
.expand select
{
	width: 100%;
	background-color: transparent;
	color: #f7ce38;
	outline: none;
	border: none;
	font-size: 15px;
}
.expand input[type="submit"]
{
	flex: 0 1 100%;
	background-color: #f7ce38;
	width: 100px;
	height: 30px;
	border-radius: 20px;
	transition: 0.2s;
}

.expand
{
	height: 200px;
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.expand a
{
	flex:  0 1 95%;
	text-decoration: none;
	color: #fff;
	font-weight: 666;
	font-size: 1.2em;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
	display: flex;
	align-items: center;
	height: 2em;
	box-sizing: border-box;
}

.expand span
{
	flex:  0 1 5%;
}
.expand label
{	
	flex: 1 1 100%;
	font-size: 1.1em;
	font-weight: 555;
	padding-left: 10px;
	text-align: left;
}
.expand label:nth-child(4)
{
	flex: 1 1 100%;
}

.expand label:hover,
.expand label:focus
{
	border: 1px solid #fff;
}

.expand input[type="checkbox"]
{
	flex: 1 1 100%;
	height: 1.5em;
}
.filter-box a:hover,
.filter-box a:focus
{
	border: 1px solid #fff;
}