<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='readnews.css')}}>
    <link rel="shortcut iconx" href={{url_for('static',filename='images/logo.png')}}>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Smart News</title>
</head>
<body>
    <!-- header  -->
    <header>
        <a href="#" id="logo"><img src={{url_for('static',filename='images/logo.png')}} alt="smart news logo"></a>
        <div class="btn">
            <!--<a href="#" id="login-btn">Login</a>
            <a href="#" id="register-btn">Register</a>
            -->
            <span>Hello </span><h3>{{user.name}}</h3>
            <img src="{{user.profile_pic_url}}">
        </div>
    </header>
    
    <!--container-->
    <div class="allnews" id="allnewsid">
        <section>
            <h1>{{category}}</h1>
        </section>
        {%for news in data["articles"]%}
        <button class="news {{news['sentiment']}}" 
             id="{{news['news_id']}}" onclick="fullview('{{news['news_id']}}')">
            <!--always visible part-->
            {%if news['sentiment'] == 'positive'%}
            <div class="card positive-bar">
            {%else%}
            <div class="card negative-bar">
            {%endif%}
                <span onclick="close_news('{{news['news_id']}}')"><i class="fas fa-times" ></i></span>   
                <h2>
                    {{news['title']}}
                </h2>
                <div class="votes">
                    <span class="positive_votes {{news['news_id']}}"></span>
                    <div class="positive-vote-btn" onclick="vote('{{news['news_id']}}','positive')">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <span class="negative_votes {{news['news_id']}}"></span>             
                    <div class="negative-vote-btn" onclick="vote('{{news['news_id']}}','negative')">
                        <i class="fas fa-thumbs-down"></i>
                    </div>
                </div>
                <img src="{{news['urlToImage']}}" alt="news description" loading="lazy">
                

                <!--  invisible components -->
                <p class="">
                    {{news['content'].split("[+")[0] if news['content']!=None else ""}}
                    
                </p>
                <a class="" href="{{news['url']}}" target="__blank">ReadFull Article</a>
                

            </div>
        </button>
        {% endfor %}

    </div>

    <footer>
        <h3>Made By @Yogesh Kamble & @Nikhil Shinde</h3>
    </footer>


    <div class="filter-box">
         <button onclick="collapsebox()">X</button>
         <input type="checkbox" id="negative-filter" onchange="filterbyanalysis()">
         <label for="negative-filter">Filter Negaive News By Analysis</label>
         <!--<input type="checkbox" id="vote-filter">
         <label for="vote-filter">Filter Negative News By Votes</label>-->
         <span></span><a href="../news/sports">Sports News</a>
         <span></span><a href="../news/top headlines">Top Headlines News</a>
         <span></span><a href="../news/business">business News</a>
         <span></span><a href="../news/entertainment">entertainment News</a>
         <span></span><a href="../news/health">health News</a>
         <span></span><a href="../news/science">science News</a>
         <span></span><a href="../news/technology">technology News</a>
         <span></span><a href="../news/general">general News</a>
         <span></span><a href="{{url_for('logout')}}">Logout</a>
    </div>
    <button class="filter-btn" onclick="expandbox()">
        <img src="{{url_for('static',filename='images/menu.svg')}}">
    </button>


    <script type="text/javascript" src={{url_for('static',filename='readnews.js')}}></script>
</body>
</html>


