<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='readnews.css')}}>
    <link rel="favicon" href={{url_for('static',filename='images/logo.png')}}>
    <title>Smart News</title>
</head>
<body>
    <!-- header  -->
    <header>
        <a href="#" id="logo"><img src={{url_for('static',filename='images/logo.png')}} alt="smart news logo"></a>
        <div class="btn">
            <!--<a href="#" id="login-btn">Login</a>
            <a href="#" id="register-btn">Register</a>
            -->
            <span>Hello {{user.name}}</span>
            <img src="{{user.profile_pic_url}}">
        </div>
    </header>
    
    <!--container-->
    <div class="allnews" id="allnewsid">
        <section>
            <h1>Todays Top headlines</h1>
        </section>
        {%for news in data["articles"]%}
        <button class="news {{data.sentiment}}">
            <div class="card">
                <img src="{{news['urlToImage']}}" alt="news description" loading="lazy">
                <h2>
                    {{news['title']}}
                </h2>
                <h2>
                    {{news['sentiment']}}
                </h2>
            </div>
        </button>
        {% endfor %}
        
    </div>

    <footer>
        <h3>Made By @Yogesh Kamble & @Nikhil Shinde</h3>
    </footer>
     <div class="filter-box">
        
    </div>
    <button class="filter-btn">
        <img src="{{url_for('static',filename='images/filter-solid.svg')}}">

    </button>

    <script type="text/javascript" src={{url_for('static',filename='readnews.js')}}></script>
</body>
</html>


