<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='readnews.css')}}>
    <link rel="favicon" href={{url_for('static',filename='images/logo.png')}}>
    <title>Smart News</title>
</head>
<body>
    <!-- header  -->
    <header>
        <a href="#" id="logo"><img src={{url_for('static',filename='images/logo.png')}} alt="smart news logo"></a>
        <div class="btn">
            <!--<a href="#" id="login-btn">Login</a>
            <a href="#" id="register-btn">Register</a>
            -->
            <span>Hello {{user.name}}</span>
            <img src="{{user.profile_pic_url}}">
        </div>
    </header>
    
    <!--container-->
    <div class="allnews" id="allnewsid">
        <section>
            <h1>{{category}}</h1>
        </section>
        {%for news in data["articles"]%}
        <button class="news {{news['sentiment']}}" 
            onclick="" id="{{news['news_id']}}">
            <!--always visible part-->
            <div class="card">
                <img src="{{news['urlToImage']}}" alt="news description" loading="lazy">
                <h2>
                    {{news['title']}}
                </h2>
                
            </div>
        </button>
        {% endfor %}
        {%for news in data["articles"]%}
        <!--visible on click-->
            <div class="fullscreen" id="{{news['news_id']}}">
                <h2>
                    {{news['title']}}
                </h2>
                <img src="{{news['urlToImage']}}" alt="news description" loading="lazy">
                <div>
                    <span>Description:</span>
                    <p>{{news['description']}}</p>
                </div>
                <div>
                    <span>Content</span>
                    <p>{{news['content']}}</p>
                </div>
                <a href="{{news['url']}}" target="__blank">Read Full Article</a>
            </div>
        {% endfor %}
    </div>

    <footer>
        <h3>Made By @Yogesh Kamble & @Nikhil Shinde</h3>
    </footer>


    <div class="filter-box">
         <button onclick="collapsebox()">X</button>
         <input type="checkbox" id="negative-filter" onchange="filterbyanalysis()">
         <label for="negative-filter">Filter Negaive News By Analysis</label>
         <input type="checkbox" id="vote-filter">
         <label for="vote-filter">Filter Negative News By Votes</label>
         <span></span><a href="{{url_for('sports_news')}}">Sports News</a> 
         <span></span><a href="{{url_for('top_headlines')}}">Top Headlines</a>
         <span></span><a href="{{url_for('top_headlines')}}">All News</a>
         <span></span><a href="{{url_for('logout')}}">Logout</a>
    </div>
    <button class="filter-btn" onclick="expandbox()">
        <img src="{{url_for('static',filename='images/menu.svg')}}">
    </button>


    <script type="text/javascript" src={{url_for('static',filename='readnews.js')}}></script>
</body>
</html>


